'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Random Wallpaper'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'random-wallpaper:toggle'
        }
      ]
    ]
  }
]